.wrapper_form_checkout {
  .type_card_form {
    margin-bottom: 1rem;
    .radio-input input {
      display: none;
    }

    .radio-input {
      --container_width: 180px;
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      background-color: #eaeaea;
      color: #000000;
      width: var(--container_width);
      overflow: hidden;
    }

    .radio-input label {
      width: 100%;
      padding: 8px 9px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-size: 14px;
    }

    .selection {
      display: none;
      position: absolute;
      height: 100%;
      width: calc(var(--container_width) / 2);
      z-index: 0;
      border-radius: 0.5rem;
      left: 0;
      top: 0;
      transition: 0.15s ease;
    }

    .radio-input label:has(input:checked) {
      color: #fff;
    }

    .radio-input label:has(input:checked) ~ .selection {
      background-color: var(--main_color);
      display: inline-block;
    }

    .radio-input label:nth-child(1):has(input:checked) ~ .selection {
      transform: translateX(calc(var(--container_width) * 0 / 2));
    }

    .radio-input label:nth-child(2):has(input:checked) ~ .selection {
      transform: translateX(calc(var(--container_width) * 1 / 2));
    }
  }
}
