.aside_resumen {
  position: sticky;
  top: 100px;
  .content_aside {
    background: #eeeeee;
    border: 1.5px solid #dddddd;
    padding: 0.75rem 1rem;
    border-radius: 0.85rem;
    .general_purchase {
      padding: 0;
      .head_general_purchase .data_price_purchase {
        display: none;
      }
      .content_single_purchase {
        .item_single_purchase {
          .btn_delete_ind,
          .counter_control {
            display: none;
          }
        }
      }
    }
  }
}
